ï»¿<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GoTweet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="GoTweet.User" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GoTweet.Properties.Settings>
            <setting name="tweetAtThreshold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="threshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tweetWhen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="message" serializeAs="String">
                <value>&lt;name&gt;: &lt;value&gt; &lt;units&gt;</value>
            </setting>
            <setting name="authorized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastTweet" serializeAs="String">
                <value>Go!Tweet hasn't tweeted yet</value>
            </setting>
            <setting name="lastTweetTime" serializeAs="String">
                <value/>
            </setting>
            <setting name="logNGIO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logTwitter" serializeAs="String">
                <value>False</value>
            </setting>
        </GoTweet.Properties.Settings>
        <GoTweet.User>
            <setting name="username" serializeAs="String">
                <value>none</value>
            </setting>
        </GoTweet.User>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
